/* 1. Directivele Tailwind */
@import "tailwindcss";


html,
body,
:root{
  height: 100%;
}

.backdrop-overlay {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.mobile-backdrop {
  background-color: rgba(0, 0, 0, 0.25) !important;
}

/* Ensure proper z-index stacking for dropdowns */
[data-radix-popper-content-wrapper] {
  z-index: 100 !important;
}